odd/baudi_mei.odd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
  © 2018 by the Music Encoding Initiative (MEI).
  Licensed under the Educational Community License, Version 2.0 (the "License"); you may
  not use this file except in compliance with the License. You may obtain a copy of the License
  at http://opensource.org/licenses/ECL-2.0.
  
  Unless required by applicable law or agreed to in writing, software distributed under the
  License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS
  OF ANY KIND, either express or implied. See the License for the specific language
  governing permissions and limitations under the License.
  
  This is a derivative work based on earlier versions of the schema © 2001-2006 Perry Roland
  and the Rector and Visitors of the University of Virginia; licensed under the Educational
  Community License version 1.0.
  
  CONTACT: info@music-encoding.org
--><?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml" schematypens="http://purl.oclc.org/dsdl/schematron"?><?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_odds.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>
<TEI xmlns:rng="http://relaxng.org/ns/structure/1.0" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://www.tei-c.org/ns/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>Schema for Baumann-Digital</title>
        <respStmt>
          <resp>Authored by</resp>
          <name xml:id="dried">Dennis Ried</name>
        </respStmt>
      </titleStmt>
      <publicationStmt>
        <p/>
      </publicationStmt>
      <sourceDesc>
        <p/>
      </sourceDesc>
    </fileDesc>
    <revisionDesc>
      <change when="2024-07-15" type="meigarage">
        <desc>Create basic ODD online with https://meigarage.edirom.de</desc>
      </change>
    </revisionDesc>
  </teiHeader>
  <text>
    <front>
      <divGen type="toc"/>
    </front>
    <body>
      <!-- Limit the set of possible start elements -->
      <schemaSpec ident="mei" ns="http://www.music-encoding.org/ns/mei" prefix="mei_" start="mei meiHead work expression" source="../sources/mei-all_compiled.odd">
        <!-- Declare MEI and XLink namespaces for use in Schematron -->
        <constraintSpec ident="set_ns" scheme="isoschematron" mode="add">
          <constraint>
            <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="mei" uri="http://www.music-encoding.org/ns/mei"/>
            <sch:ns xmlns:sch="http://purl.oclc.org/dsdl/schematron" prefix="xlink" uri="http://www.w3.org/1999/xlink"/>
          </constraint>
        </constraintSpec>
        <!-- Include all modules -->
        <moduleRef key="MEI"/>
        <moduleRef key="MEI.analytical"/>
        <moduleRef key="MEI.cmn"/>
        <moduleRef key="MEI.cmnOrnaments"/>
        <moduleRef key="MEI.critapp"/>
        <moduleRef key="MEI.drama"/>
        <moduleRef key="MEI.edittrans"/>
        <moduleRef key="MEI.facsimile"/>
        <moduleRef key="MEI.figtable"/>
        <moduleRef key="MEI.frbr"/>
        <moduleRef key="MEI.gestural"/>
        <moduleRef key="MEI.harmony"/>
        <moduleRef key="MEI.header"/>
        <moduleRef key="MEI.lyrics"/>
        <moduleRef key="MEI.msDesc"/>
        <moduleRef key="MEI.namesdates"/>
        <moduleRef key="MEI.performance"/>
        <moduleRef key="MEI.ptrref"/>
        <moduleRef key="MEI.shared"/>
        <moduleRef key="MEI.text"/>
        <moduleRef key="MEI.visual"/>
        <!--<!-\- Include SVG -\->
        <moduleRef url="https://www.tei-c.org/release/xml/tei/custom/schema/relaxng/svg11.rng" prefix="svg_">
          <content>
            <rng:define name="mei_model.graphicLike" combine="choice">
              <rng:ref name="svg_svg"/>
            </rng:define>
          </content>
        </moduleRef>-->
        
        <moduleSpec ident="baudi.core.module">
          <desc xml:lang="de" versionDate="2022-11-08">Modul für HenDi-spezifische Ergänzungen</desc>
          <desc xml:lang="en" versionDate="2017-11-08">Module for HenDi specific additions</desc>
        </moduleSpec>
        
        <macroSpec ident="baudi_docStatus.list" mode="add" module="baudi.core.module">
          <desc xml:lang="en" versionDate="2024-08-01">Definition of state of a document</desc>
          <content>
            <valList mode="add" type="closed">
              <valItem ident="proposed">
                <desc versionDate="2024-08-01" xml:lang="en">Data is just recorded</desc>
              </valItem>
              <valItem ident="candidate">
                <desc versionDate="2024-08-01" xml:lang="en">Data is in revision</desc>
              </valItem>
              <valItem ident="approved">
                <desc versionDate="2024-08-01" xml:lang="en">Data is approved</desc>
              </valItem>
            </valList>
          </content>
        </macroSpec>
        
        <macroSpec ident="baudi_instrument.list" mode="add" module="baudi.core.module">
          <desc xml:lang="en" versionDate="2024-08-01">A list of instruments</desc>
          <content>
            <valList mode="add" type="closed">
              <valItem ident="orchestra">
                <gloss versionDate="2024-08-01" xml:lang="de">Orchester</gloss>
              </valItem>
              <valItem ident="ensemble">
                <gloss versionDate="2024-08-01" xml:lang="de">Ensemble</gloss>
              </valItem>
              <valItem ident="quartett.string">
                <gloss versionDate="2024-08-01" xml:lang="de">Streichquartett</gloss>
              </valItem>
              <valItem ident="voice">
                <gloss versionDate="2024-08-01" xml:lang="de">Singstimme</gloss>
              </valItem>
              <valItem ident="speaker">
                <gloss versionDate="2024-08-01" xml:lang="de">Sprecher</gloss>
              </valItem>
              <valItem ident="voice.high">
                <gloss versionDate="2024-08-01" xml:lang="de">Hohe Stimme</gloss>
              </valItem>
              <valItem ident="voice.middle">
                <gloss versionDate="2024-08-01" xml:lang="de">Mittlere Stimme</gloss>
              </valItem>
              <valItem ident="voice.low">
                <gloss versionDate="2024-08-01" xml:lang="de">Tiefe Stimme</gloss>
              </valItem>
              <valItem ident="soprano">
                <gloss versionDate="2024-08-01" xml:lang="de">Sopran</gloss>
              </valItem>
              <valItem ident="soprano.i">
                <gloss versionDate="2024-08-01" xml:lang="de">Sopran I</gloss>
              </valItem>
              <valItem ident="soprano.ii">
                <gloss versionDate="2024-08-01" xml:lang="de">Sopran II</gloss>
              </valItem>
              <valItem ident="mezzosoprano">
                <gloss versionDate="2024-08-01" xml:lang="de">Mezzosopran</gloss>
              </valItem>
              <valItem ident="alto">
                <gloss versionDate="2024-08-01" xml:lang="de">Alt</gloss>
              </valItem>
              <valItem ident="alto.i">
                <gloss versionDate="2024-08-01" xml:lang="de">Alt I</gloss>
              </valItem>
              <valItem ident="alto.ii">
                <gloss versionDate="2024-08-01" xml:lang="de">Alt II</gloss>
              </valItem>
              <valItem ident="tenor">
                <gloss versionDate="2024-08-01" xml:lang="de">Tenor</gloss>
              </valItem>
              <valItem ident="tenor.i">
                <gloss versionDate="2024-08-01" xml:lang="de">Tenor I</gloss>
              </valItem>
              <valItem ident="tenor.ii">
                <gloss versionDate="2024-08-01" xml:lang="de">Tenor II</gloss>
              </valItem>
              <valItem ident="baritone">
                <gloss versionDate="2024-08-01" xml:lang="de">Bariton</gloss>
              </valItem>
              <valItem ident="bassBaritone">
                <gloss versionDate="2024-08-01" xml:lang="de">Bassbariton</gloss>
              </valItem>
              <valItem ident="bass">
                <gloss versionDate="2024-08-01" xml:lang="de">Bass</gloss>
              </valItem>
              <valItem ident="bass.i">
                <gloss versionDate="2024-08-01" xml:lang="de">Bass I</gloss>
              </valItem>
              <valItem ident="bass.ii">
                <gloss versionDate="2024-08-01" xml:lang="de">Bass II</gloss>
              </valItem>
              <valItem ident="choir">
                <gloss versionDate="2024-08-01" xml:lang="de">Chor</gloss>
              </valItem>
              <valItem ident="choir4voices">
                <gloss versionDate="2024-08-01" xml:lang="de">Chor (4-stimmig)</gloss>
              </valItem>
              <valItem ident="choirMale">
                <gloss versionDate="2024-08-01" xml:lang="de">Männerchor</gloss>
              </valItem>
              <valItem ident="choirFemale">
                <gloss versionDate="2024-08-01" xml:lang="de">Frauenchor</gloss>
              </valItem>
              <valItem ident="choirChildren">
                <gloss versionDate="2024-08-01" xml:lang="de">Knabenchor</gloss>
              </valItem>
              <valItem ident="choirMixed">
                <gloss versionDate="2024-08-01" xml:lang="de">Gemischter Chor</gloss>
              </valItem>
              <valItem ident="wood">
                <gloss versionDate="2024-08-01" xml:lang="de">Holzbläser</gloss>
              </valItem>
              <valItem ident="piccolo">
                <gloss versionDate="2024-08-01" xml:lang="de">Piccolo</gloss>
              </valItem>
              <valItem ident="flute">
                <gloss versionDate="2024-08-01" xml:lang="de">Flöte</gloss>
              </valItem>
              <valItem ident="flute.i">
                <gloss versionDate="2024-08-01" xml:lang="de">Flöte I</gloss>
              </valItem>
              <valItem ident="flute.ii">
                <gloss versionDate="2024-08-01" xml:lang="de">Flöte II</gloss>
              </valItem>
              <valItem ident="oboe">
                <gloss versionDate="2024-08-01" xml:lang="de">Oboe</gloss>
              </valItem>
              <valItem ident="oboe.i">
                <gloss versionDate="2024-08-01" xml:lang="de">Oboe I</gloss>
              </valItem>
              <valItem ident="oboe.ii">
                <gloss versionDate="2024-08-01" xml:lang="de">Oboe II</gloss>
              </valItem>
              <valItem ident="clarinet">
                <gloss versionDate="2024-08-01" xml:lang="de">Klarinette</gloss>
              </valItem>
              <valItem ident="clarinet.i">
                <gloss versionDate="2024-08-01" xml:lang="de">Klarinette I</gloss>
              </valItem>
              <valItem ident="clarinet.ii">
                <gloss versionDate="2024-08-01" xml:lang="de">Klarinette II</gloss>
              </valItem>
              <valItem ident="bassoon">
                <gloss versionDate="2024-08-01" xml:lang="de">Fagott</gloss>
              </valItem>
              <valItem ident="bassoon.i">
                <gloss versionDate="2024-08-01" xml:lang="de">Fagott I</gloss>
              </valItem>
              <valItem ident="bassoon.ii">
                <gloss versionDate="2024-08-01" xml:lang="de">Fagott II</gloss>
              </valItem>
              <valItem ident="brass">
                <gloss versionDate="2024-08-01" xml:lang="de">Blechbläser</gloss>
              </valItem>
              <valItem ident="hornFrench">
                <gloss versionDate="2024-08-01" xml:lang="de">Horn</gloss>
              </valItem>
              <valItem ident="hornFrench.i">
                <gloss versionDate="2024-08-01" xml:lang="de">Horn I</gloss>
              </valItem>
              <valItem ident="hornFrench.ii">
                <gloss versionDate="2024-08-01" xml:lang="de">Horn II</gloss>
              </valItem>
              <valItem ident="hornFrench.iii">
                <gloss versionDate="2024-08-01" xml:lang="de">Horn III</gloss>
              </valItem>
              <valItem ident="hornFrench.iv">
                <gloss versionDate="2024-08-01" xml:lang="de">Horn IV</gloss>
              </valItem>
              <valItem ident="trumpet">
                <gloss versionDate="2024-08-01" xml:lang="de">Trompete</gloss>
              </valItem>
              <valItem ident="trumpet.i">
                <gloss versionDate="2024-08-01" xml:lang="de">Trompete I</gloss>
              </valItem>
              <valItem ident="trumpet.ii">
                <gloss versionDate="2024-08-01" xml:lang="de">Trompete II</gloss>
              </valItem>
              <valItem ident="trombone">
                <gloss versionDate="2024-08-01" xml:lang="de">Posaune</gloss>
              </valItem>
              <valItem ident="trombone.i">
                <gloss versionDate="2024-08-01" xml:lang="de">Posaune I</gloss>
              </valItem>
              <valItem ident="trombone.ii">
                <gloss versionDate="2024-08-01" xml:lang="de">Posaune II</gloss>
              </valItem>
              <valItem ident="trombone.iii">
                <gloss versionDate="2024-08-01" xml:lang="de">Posaune III</gloss>
              </valItem>
              <valItem ident="tuba">
                <gloss versionDate="2024-08-01" xml:lang="de">Tuba</gloss>
              </valItem>
              <valItem ident="strings">
                <gloss versionDate="2024-08-01" xml:lang="de">Streicher</gloss>
              </valItem>
              <valItem ident="violin">
                <gloss versionDate="2024-08-01" xml:lang="de">Violine</gloss>
              </valItem>
              <valItem ident="violinChoir">
                <gloss versionDate="2024-08-01" xml:lang="de">Violin-Chor</gloss>
              </valItem>
              <valItem ident="violin.i">
                <gloss versionDate="2024-08-01" xml:lang="de">Violine I</gloss>
              </valItem>
              <valItem ident="violin.i.1">
                <gloss versionDate="2024-08-01" xml:lang="de">Violine I (Ex. 1)</gloss>
              </valItem>
              <valItem ident="violin.i.2">
                <gloss versionDate="2024-08-01" xml:lang="de">Violine I (Ex. 2)</gloss>
              </valItem>
              <valItem ident="violin.ii">
                <gloss versionDate="2024-08-01" xml:lang="de">Violine II</gloss>
              </valItem>
              <valItem ident="violin.iii">
                <gloss versionDate="2024-08-01" xml:lang="de">Violine III</gloss>
              </valItem>
              <valItem ident="viola">
                <gloss versionDate="2024-08-01" xml:lang="de">Viola</gloss>
              </valItem>
              <valItem ident="violoncello">
                <gloss versionDate="2024-08-01" xml:lang="de">Violoncello</gloss>
              </valItem>
              <valItem ident="doubleBass">
                <gloss versionDate="2024-08-01" xml:lang="de">Kontrabass</gloss>
              </valItem>
              <valItem ident="piano">
                <gloss versionDate="2024-08-01" xml:lang="de">Klavier</gloss>
              </valItem>
              <valItem ident="organ">
                <gloss versionDate="2024-08-01" xml:lang="de">Orgel</gloss>
              </valItem>
              <valItem ident="harmonium">
                <gloss versionDate="2024-08-01" xml:lang="de">Harmonium</gloss>
              </valItem>
              <valItem ident="harp">
                <gloss versionDate="2024-08-01" xml:lang="de">Harfe</gloss>
              </valItem>
              <valItem ident="percussion">
                <gloss versionDate="2024-08-01" xml:lang="de">Schlagwerk</gloss>
              </valItem>
              <valItem ident="timpani">
                <gloss versionDate="2024-08-01" xml:lang="de">Pauke</gloss>
              </valItem>
              <valItem ident="bells">
                <gloss versionDate="2024-08-01" xml:lang="de">(Kleine) Glocken</gloss>
              </valItem>
              <valItem ident="turbularBells">
                <gloss versionDate="2024-08-01" xml:lang="de">Röhrenglocken</gloss>
              </valItem>
            </valList>
          </content>
        </macroSpec>
        
        <classSpec ident="att.classed" module="MEI.shared" type="atts" mode="change">
          <desc xml:lang="en">Attributes which can be used to classify features.</desc>
          <attList>
            <attDef ident="class" usage="opt" mode="change">
              <desc xml:lang="en">Contains one or more URIs which denote classification terms that apply to the entity bearing this attribute.</desc>
              <datatype>
                <rng:data type="anyURI"/>
              </datatype>
              <constraintSpec ident="check_classURI" scheme="schematron" mode="delete"/>
            </attDef>
          </attList>
        </classSpec>
        
        <elementSpec ident="mei" module="MEI.shared" mode="change" ns="http://www.music-encoding.org/ns/mei">
          <attList>
            <attDef ident="status" usage="req" mode="add">
              <desc xml:lang="en" versionDate="2024-07-29">defines the status of a document.</desc>
              <datatype>
                <dataRef key="baudi_docStatus.list"/>
              </datatype>
            </attDef>
          </attList>
        </elementSpec>
        
        <elementSpec ident="work" module="MEI.shared" mode="change">
          <constraintSpec ident="work-status" scheme="schematron">
            <constraint>
              <sch:rule context="mei:work[not(parent::mei:componentList) and not(parent::mei:workList)]">
                <sch:assert test="@status">The attribute @status is required on root level.</sch:assert>
              </sch:rule>
            </constraint>
          </constraintSpec>
          <attList>
            <attDef ident="status" usage="rec" mode="add">
              <desc xml:lang="en" versionDate="2024-07-29">defines the status of a document.</desc>
              <datatype>
                <dataRef key="baudi_docStatus.list"/>
              </datatype>
            </attDef>
          </attList>
        </elementSpec>
        
        <elementSpec ident="expression" module="MEI.frbr" mode="change">
          <constraintSpec ident="expression-status" scheme="schematron">
            <constraint>
              <sch:rule context="mei:expression[not(parent::mei:componentList) and not(parent::mei:expressionList)]">
                <sch:assert test="@status">The attribute @status is required on root level.</sch:assert>
              </sch:rule>
            </constraint>
          </constraintSpec>
          <attList>
            <attDef ident="status" usage="rec" mode="add">
              <desc xml:lang="en" versionDate="2024-07-29">defines the status of a document.</desc>
              <datatype>
                <dataRef key="baudi_docStatus.list"/>
              </datatype>
            </attDef>
          </attList>
        </elementSpec>
        
        <elementSpec ident="zone" module="MEI.facsimile" mode="change">
          <content>
            <rng:zeroOrMore>
              <rng:ref name="model.figDescLike"/>
            </rng:zeroOrMore>
            <rng:zeroOrMore>
              <rng:ref name="model.graphicLike"/>
            </rng:zeroOrMore>
            <rng:zeroOrMore>
              <rng:ref name="point"/>
            </rng:zeroOrMore>
          </content>
        </elementSpec>
        
        <elementSpec ident="point" module="MEI.facsimile" mode="add">
          <attList>
            <attDef ident="x">
              <desc>x-cooridnate</desc>
              <datatype>
                <rng:data type="positiveInteger"/>
              </datatype>
            </attDef>
            <attDef ident="y">
              <desc>y-cooridnate</desc>
              <datatype>
                <rng:data type="positiveInteger"/>
              </datatype>
            </attDef>
          </attList>
        </elementSpec>
        
        
        
        
        
        <elementSpec ident="perfRes" module="MEI.header" mode="change">
          <gloss versionDate="2024-07-29" xml:lang="en">performance resource</gloss>
          <desc versionDate="2024-07-29" xml:lang="en">Name of an instrument on which a performer plays, a performer's voice range, or a standard performing ensemble designation.</desc>
          <content>
            <rng:zeroOrMore>
              <rng:choice>
                <rng:text/>
                <rng:ref name="model.textPhraseLike.limited"/>
                <rng:ref name="perfRes"/>
                <rng:ref name="range"/>
              </rng:choice>
            </rng:zeroOrMore>
          </content>
          <attList>
          <attDef ident="codedval" mode="change">
            <datatype>
              <dataRef key="baudi_instrument.list"/>
            </datatype>
          </attDef>
          </attList>
        </elementSpec>
        
        <elementSpec ident="range" module="baudi.core.module" mode="add">
          <gloss versionDate="2024-07-29" xml:lang="en">range</gloss>
          <desc versionDate="2024-07-29" xml:lang="en">Range of an instrument or a performer's voice range.</desc>
          <content>
            <rng:zeroOrMore>
              <rng:choice>
                <rng:text/>
                <rng:ref name="model.textPhraseLike.limited"/>
                <rng:ref name="perfRes"/>
                <rng:ref name="rangeNote"/>
              </rng:choice>
            </rng:zeroOrMore>
          </content>
        </elementSpec>
        
        <elementSpec ident="rangeNote" module="baudi.core.module" mode="add">
          <desc xml:lang="en">Highest or lowest pitch in a score, staff, or layer.</desc>
          <classes>
            <memberOf key="att.common"/>
            <memberOf key="att.ambNote.log"/>
          </classes>
          <attList>
            <attDef ident="type" mode="change" usage="req">
              <valList mode="add" type="closed">
                <valItem ident="highest">
                  <desc xml:lang="en" versionDate="2024-07-29">highest pitch in a range</desc>
                </valItem>
                <valItem ident="highestAlt">
                  <gloss xml:lang="en">highest alternative</gloss>
                  <desc xml:lang="en" versionDate="2024-07-29">highest alternative pitch in a range</desc>
                </valItem>
                <valItem ident="lowest">
                  <desc xml:lang="en" versionDate="2024-07-29">lowest pitch in a range</desc>
                </valItem>
                <valItem ident="lowestAlt">
                  <gloss xml:lang="en">lowest alternative</gloss>
                  <desc xml:lang="en" versionDate="2024-07-29">lowest alternative pitch in a range</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        
        <elementSpec ident="classification" module="MEI.header" mode="change">
          <content>
            <rng:zeroOrMore>
              <rng:ref name="model.headLike"/>
            </rng:zeroOrMore>
            <rng:zeroOrMore>
                <rng:ref name="classCode"/>
            </rng:zeroOrMore>
            <rng:zeroOrMore>
                <rng:ref name="termList"/>
            </rng:zeroOrMore>
          </content>
          <remarks xml:lang="en">
            <p>The classCode-Element is needed for the edirom-software</p>
          </remarks>
        </elementSpec>
        
        <elementSpec ident="classCode" module="baudi.core.module" mode="add">
          <desc xml:lang="en">Element for defining Edirom category anchor</desc>
          <classes>
            <memberOf key="att.basic" exclude="xml:base"/>
          </classes>
        </elementSpec>
        
        <elementSpec ident="termList" module="MEI.header" mode="change">
          <attList>
            <attDef ident="classcode" mode="add" usage="opt">
              <datatype>
                <dataRef key="data.URI"/>
              </datatype>
            </attDef>
          </attList>
        </elementSpec>
        
        <elementSpec ident="term" module="MEI.shared" mode="change">
          <attList>
            <attDef ident="classcode" mode="add" usage="opt">
              <datatype>
                <dataRef key="data.URI"/>
              </datatype>
            </attDef>
          </attList>
        </elementSpec>
        
        
        <elementSpec ident="annot" module="MEI.shared" mode="change">
          <content>
            <rng:choice>
              <rng:group>
                <rng:zeroOrMore>
                  <rng:ref name="model.headLike"/>
                </rng:zeroOrMore>
                <rng:interleave>
                  <rng:zeroOrMore>
                    <rng:ref name="model.textComponentLike"/>
                  </rng:zeroOrMore>
                  <rng:zeroOrMore>
                    <rng:ref name="model.textPhraseLike"/>
                  </rng:zeroOrMore>
                </rng:interleave>
              </rng:group>
            </rng:choice>
              <rng:zeroOrMore>
                <rng:choice>
                  <rng:text/>
                  <rng:ref name="model.editLike"/>
                  <rng:ref name="model.textPhraseLike"/>
                  <rng:ref name="model.transcriptionLike"/>
                </rng:choice>
              </rng:zeroOrMore>
          </content>
        </elementSpec>
        
      </schemaSpec>
    </body>
  </text>
</TEI>